<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chats</title>
</head>
<body>
    <h2> Edit your chats <%= chat.id %></h2>
    <p> This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to  %></b></p>
    <form method ="post" action="/chats/<%= chat.id %>/?_method=PUT">
        <textarea name ="msg" rows="10" cols="50" ><%= chat.msg %></textarea>
        <button>Edit</button>
    </form>
</body>
</html>