<% layout("/layouts/boilerplate")%>

    <div class="row mt-3">                   <!-- create in one div box /  / a;ll content put in one div for center of then page -->
        <div class="col-8 offset-2">    <!-- offset => means , AND from 12 box of grid left 2 div of starting-->

    <h3> Edit listing </h3>
    <br/><br/>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" enctype="multipart/form-data" novalidate>       <!-- Validation according to bootstrap-->
        <div class="mb-3">
            <label for="title" class="form-label">title </label>
            <input name ='listing[title]' value = <%=  listing.title %> type="text" class="form-control" required/>       <!-- listing[]  = title, desctiption ,price,country all types are store in this -->
            <div class ="invalid-feedback"> Please enter correct input </div>
        </div>
        
        
        <div class="mb-3">
            <label for="description" class="form-label">description </label>
            <textarea name ='listing[description]' class="form-control" required> <%= listing.description%></textarea>
            <div class ="invalid-feedback"> Please enter correct input </div>
        </div>
        
        <div class="mb-3">
            Orignal listing Image <br>
            <!-- <img src ="<%= // listing.image.url %>"> -->
            <img src ="<%= orignalImgaeUrl %>">
            </div>

        <div class="mb-3">
            <label for="image" class="form-label">image </label>
        <input name ='listing[image]' value = <%= listing.image %> type="text" class="form-control" />
        <div class ="invalid-feedback"> Please enter correct input </div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">            <!-- 1 row 2 div -->
            <label for="price" class="form-label">price </label>
            <input name ='listing[price]' value = <%= listing.price %> type="number"class="form-control" required />
            <div class ="invalid-feedback"> Please enter correct input </div>
        </div>
    
        
        <div class="mb-3 col-md-8">               <!-- 1 row 2 div -->
            <label for="country" class="form-label">country </label>
            <input name ='listing[country]' value = <%= listing.country %> type="text" class="form-control" required/>
            <div class ="invalid-feedback"> Please enter correct input </div>
        </div>
        </div>
        

        <div class="mb-3">
            <label for="location" class="form-label">location </label>
        <input name ='listing[location]' value = <%= listing.location %> type="text" class="form-control" required/>
        <div class ="invalid-feedback"> Please enter correct input </div>
        </div>

        <br/><br/>
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br/><br/>
    </form>
    </div>
</div>

