<% layout("/layouts/boilerplate")%>
<script>
    const MAP_TOKEN = " <%= process.env.MAP_TOKEN %> ";       // create it for script run from ejs file for map cz access token can directly call on ejs file it will call in js file only
    const listing = " <%- JSON.stringify(listing) %> ";          
</script>
<div class="row mt-3">              <!-- mt-2 => margin top / a;ll content put in one div for center of then page-->
    <div class="col-8 offset-3">    <!-- offset => means from 12 box of grid left 2 div of starting-->
    <h3> <%= listing.title  %> </h3>
    </div>
        <div class="card col-6 offset-3 show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">Owned by <i> <%= listing.owner.username %></i></p>
                    <p class="card-text"> <%= listing.description  %> </p>
                    <p class="card-text"> &#8377; <%= listing.price.toLocaleString("en-IN") %> </p>                 <!-- toLocalString("en-IN")  => it takes the comman as string and print as Indian format (1,500)-->
                    <p class="card-text"> <%= listing.location  %> </p>
                    <p class="card-text"> <%= listing.country  %></p>
                </div>
        </div>
</div>

<!-- <% if(currUser && listing.owner._id.equals(currUser._id)){ %>           it check is currentuser and listeing owner is same if same then owner can edit and delete listing  -->

<div class="btns">
    <a href="/listings/<%= listing._id %>/edit" class ="btn btn-dark col-1 offset-3 edit-btn"> Edit </a><br/>

    <form method = "post" action="/listings/<%= listing.id %>/?_method=DELETE">
        <button class ="btn btn-dark offset-5 ">Delete</button>
    </form>
</div>
<% } %> 
<hr>

<div class=" col-8 offset-3">
    <% if(currUser){ %>
    <h4>leave a Review</h4>
    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate class="needs-validation">
        <!-- <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
        </div> -->
        <div class="card col-5 ms-3 mb-3">
        <fieldset class="starability-slot">
            <label for="comment" class="form-label">Rating</label>

            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please add some comments for review</div>
        </div>
        <button class="btn btn-dark">Submit</button>
    </form>
<% } %> 
    <hr/>

    <% if(listing.review.length > 0 ) { %>

    <p><b>All reviews</b></p>
<div class="row">
    <% for( review of listing.reviews ) { %>
        <div class="card col-5 ms-3 mb-3">
            <div class="card-body">
                <h5 class="card-title"> <%=review.author.username %></h5>
                <p class="starability-result card-text" data-rating="review.rating"></p>
                <p class="card-text"> <%= review.comment %> </p>
                <h3>Rated element name</h3>
            </div>
            <form class="mb-3" method ="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <button class="btn btn-sm btn-dark">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
    <% } %>
    <div class="col-8 offset-3 mb-3">
        <h3> where you will be </h3>
        <div id="map">

        </div>
    </div>
</div>

<script src = "/js/map.js"></script>